/*
 * Example
 */

.styleguide-example {
  border-radius: 2px;
  border: solid 2px transparent;
}

.styleguide-example::after {
  content: '';
  display: table;
  clear: both;
  zoom: 1;
}

@media (max-width: 768px) {
  .styleguide-example {
    margin-left: -16px;
    margin-right: -16px;
  }
}

/*
 * Clear variant
 */

.styleguide-example.-clear {
  & {
    border: 0;
  }

  & > .styleguide-example-figure {
    padding: 0;
  }

  &:not(.-expand) > .styleguide-example-figure {
    background: transparent;
  }
}

/*
 * Wide variant
 */

.styleguide-example.-full {
  margin-left: -16px;
  margin-right: -16px;
}

@media (min-width: 1181px) {
  .styleguide-example.-full {
    margin-left: calc(-50vw + var(--body-width) / 2);
    margin-right: calc(-50vw + var(--body-width) / 2);
  }

  html.-styleguide-sidebar-open .styleguide-example.-full {
    margin-left: calc(-50vw + var(--sidebar-width) / 2 + var(--body-width) / 2 + 16px);
    margin-right: calc(-50vw + var(--sidebar-width) / 2 + var(--body-width) / 2 + 16px);
  }
}

/*
 * Dark variant
 */

.styleguide-example.-dark > .styleguide-example-figure {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAAAAACoWZBhAAAAFklEQVQI12NQBQF2EGAghQkmwXxSmADZJQiZ2ZZ46gAAAABJRU5ErkJggg==");
}
