/*
 * Figures
 */

.styleguide-example-figure {
  & {
    position: relative;
  }

  & > .content {
    overflow: hidden;
    overflow-x: auto;
    padding: 0; /* var(--figure-padding) */
    background:
      linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
      url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAAAAACoWZBhAAAAF0lEQVQI12P4BAI/QICBFCaYBPNJYQIAkUZftTbC4sIAAAAASUVORK5CYII=");
    position: relative;
  }

  & > .content > iframe {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 32px; /* default height, it'll auto-resize */
    box-shadow: inset 0 0 0 16px transparent;
    transition: box-shadow 50ms linear;
    margin-bottom: -6px; /* There's some extra space below the iframe... no idea why! */
  }

  &.-sm > .content > iframe {
    width: 480px;
  }

  &.-md > .content > iframe {
    width: 768px;
  }

  &.-lg > .content > iframe {
    width: 992px;
  }

  &.-xl > .content > iframe {
    width: 1200px;
  }

  &:hover {
    &.-sm,
    &.-md,
    &.-lg,
    &.-xl {
      & > .content > iframe {
        box-shadow: inset 0 0 0 16px color(var(--margin-color) alpha(7%));
      }
    }
  }
}

.styleguide-example-figure > .content {
  &::-moz-scrollbar,
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-moz-scrollbar-thumb,
  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 2px;
  }

  &::-moz-scrollbar-thumb,
  &::-webkit-scrollbar-thumb {
    background: color(#888 alpha(40%));
  }

  &::-moz-scrollbar-track,
  &::-webkit-scrollbar-track {
    background: color(#888 alpha(10%));
  }
}

/*
 * Margin guides
 */

*.-expand > .styleguide-example-figure > .content > iframe {
  box-shadow: inset 0 0 0 16px color(var(--margin-color) alpha(7%));
  /* &::before,
  &::after {
    content: '';
    position: absolute;
    opacity: .5;
    background: transparent;
    transition: opacity 100ms linear;
    pointer-events: none;
  }

  &::before {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border: solid var(--figure-padding) color(var(--margin-color) alpha(5%));
  }

  &::after {
    left: calc(var(--figure-padding) - 1px);
    right: calc(var(--figure-padding) - 1px);
    bottom: calc(var(--figure-padding) - 1px);
    top: calc(var(--figure-padding) - 1px);
    border: dashed 1px color(var(--margin-color) alpha(20%));
    opacity: 0;
  }

  &:hover::before,
  &:hover::after {
    opacity: 1;
  } */
}
