/*
 * Toolbar
 */

.styleguide-example-toolbar {
  & {
    position: absolute;
    bottom: 16px;
    right: 16px;
    font-size: 0.86em;
    opacity: 0;
    transition: opacity 300ms linear;
  }

  & > button {
    background: #333;
    color: #fff;
    border-radius: 32px;
    padding: 4px 8px;
    border: 0;
    margin: 0;
    cursor: pointer;
  }
}

*:hover > .styleguide-example-toolbar {
  opacity: 1;
}
