<div class='styleguide-sidebar'>
  <input type='checkbox' id='sidebar-toggle'>
  <label class='button' for='sidebar-toggle'></label>
  <label class='screen' for='sidebar-toggle'></label>
  <div class='menu'><%- renderToc() %></div>
</div>
